version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: music_share_postgres
    environment:
      POSTGRES_DB: musicsharedb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: music_share_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
